<!doctype html>
<html>
<head>
<title>Dungeons And Dragons</title>
{{#if showTests}}
<link rel="stylesheet" href="/vendor/mocha.css">
{{/if}}
<script src ="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
<<<<<<< HEAD
<a href= "/character">character</a>
<a href= "/homepage">homepage</a>
<a href= "/dicepage">dicepage</a>
=======

{{#if flash}}
<script>
alert("{{flash}}");
</script>
{{/if}}


>>>>>>> 7b4d0eb35e9b4e3a9498f8a9240a704c85c2e6e4
{{{body}}}

</body>
</html>

