<!doctype html>
<html>
<head>
<title>Dungeons And Dragons</title>
{{#if showTests}}
<link rel="stylesheet" href="/vendor/mocha.css">
{{/if}}
<script src ="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>

<a href= "/character">Create Character</a>
<a href= "/homepage">Homepage</a>
<a href= "/dice">Dice</a>

{{{body}}}

</body>
</html>

