<h1> Create your character <h1>
<br>
<br>
<h2>Example Character:<h2>
<ul>
  {{#each exChar}}
    <li>
      {{name}} <br>
      {{race}} <br>
      {{class}} <br>
      {{gender}} <br>
    </li>
  {{/each}}
</ul>
