<h1> Create your character <h1>
<br>
<br>
<h2>Example Character:<h2>
<ul>
  {{#each exChar}}
    <li>
     Name: {{name}} <br>
     Race:  {{race}} <br>
     Class: {{class}} <br>
     Sex: {{gender}} <br>
    </li>
  {{/each}}
</ul>

