<<<<<<< HEAD
<h1> Character attrbutes pages </h1>
=======
<h1> Create your character <h1>
<br>
<br>
<h2>Example Character:<h2>
<ul>
  {{#each exChar}}
    <li>
      {{name}} <br>
      {{race}} <br>
      {{class}} <br>
      {{gender}} <br>
    </li>
  {{/each}}
</ul>
>>>>>>> 1e26ece20cf63960d3f4256c6815a67d7617baf0
