<h1>Dungeons And Dragons</h1>

<p> We are going to have a page that dispalys character attrubutes containing Name, Gender, Age, Class, and Race.  </p>

<div style="float:right">
<form align="right" name="form1" method="post" action="logout">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="log out">
  </label>
</form>
</div>


